.card div.ribbon {    
    position: absolute;
    top: -15px;
    left: -15px;
    width: 280px;
    height: 50px;
    background: red;
    background: linear-gradient(176deg, #8ed4ff 0%, #00799e 69%);
    /* border-radius: 30px; */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 0;
    z-index: 1;
}
.card div.ribbon p {
    font-size: 30px;
}

.card div.ribbon::before {
    content: '';
    position: absolute;
    top:50px;
    width: 15px;
    height: 30px;
    background: linear-gradient(176deg, #8ed4ff 0%, #00799e 69%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 3;
}
.card div.ribbon::after {
    content: '';
    position: absolute;
    top: 50px;
    width: 15px;
    height: 15px;
    background: #00799e;
    z-index: 2;
}